@import "vars"


@media only screen and (max-width : 1199px)

	.p-s
		position: relative
		

	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.header
		&__logo
			letter-spacing: -2px
			&-text
				letter-spacing: -.2px

		&__search
			margin: 0 30px

		&__bottom-line
			padding: 10px 0
		&__cart
			padding-top: 7px
			padding-bottom: 7px

			/* ----- account-menu ----- */
		&__account
			&-line
				display: block
				width: 290px
				height: auto
				padding: 30px 40px
				position: absolute
				top: 80px
				right: 0
				bottom: auto
				left: auto
				background: transparent
				border: none
				visibility: hidden
				transform: scale(0)
				transform-origin: 100% 0
				background-color: #303030
				opacity: .97
				transition: all .2s
				&.reveal
					visibility: visible
					transform: scale(1)
					transition: all .2s
				&::before
					content: ''
					display: block
					width: 0
					height: 0
					position: absolute
					right: 52px
					top: -18px
					border: 8px solid transparent
					border-bottom: 12px solid #303030
				.container
					padding: 0
			&-menu
				display: block
				li:first-child
					.header__account-menu-link
						padding-left: 20px
				&-link
					padding: 7px 0 7px 20px
					position: relative
					&::before
						content: '»'
						display: inline-block
						font-size: 18px
						line-height: 24px
						font-weight: 300
						position: absolute
						left: 0
						top: 3px
						color: $accent-color
						z-index: 0
					&:hover
						color: $accent-color

		/* ----- navigation ----- */
	.nav
		&__toggle
			display: flex
			align-items: center
			justify-content: center
			position: relative
			width: 40px
			height: 40px
			border: 1px solid #545454
			&-ic
				position: relative
				width: 22px
				height: 3px
				background-color: #fff
				&::before, &::after  
					content: ""
					position: absolute
					left: 0
					height: 3px
					width: 22px
					background-color: #fff
				&::before
					top: -6px
				&::after 
					top: 6px
			&:active
				box-shadow: 1px 1px 3px rgba(#fff,.2)
				transition: all .2s
		&.reveal
			.nav__toggle
				opacity: 1
			.nav__toggle-ic
				background-color: $accent-color
				&::before, &::after  
					background-color: $accent-color
			.nav__list
				visibility: visible
				transform: scale(1)
				transition: all .2s
		&__list
			visibility: hidden
			display: block
			transform: scale(0)
			transform-origin: 0 0
			position: absolute
			top: 80px
			left: 0
			width: 368px
			padding: 30px 40px
			background-color: #363636
			opacity: .97
			z-index: 2
			transition: all .2s
			&::before
				content: ''
				display: block
				width: 0
				height: 0
				position: absolute
				left: 11px
				top: -18px
				border: 8px solid transparent
				border-bottom: 12px solid rgba(#363636, .97)
		&__link
			padding: 7px 0
			border-right: none
		&__ic
			margin-right: 18px

	.header__login
		&.opened
			.header__login-text
				color: $accent-color





	/**/



@media only screen and (max-width : 991px)

	/**/



@media only screen and (max-width : 767px)

	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.header
		.container
			position: relative
		&__login
			position: static
			
		.ml-auto
			margin-left: 0

	.header__bottom-line
		div[class*="col"]
			position: static


	.header__lang-item
		width: 35px
		height: 35px

	.header__cart
		width: 40px
		height: 40px
		padding: 0
		margin-right: 5px
		justify-content: center
		background: transparent
		border: 1px solid #545454
		&:active
			box-shadow: 1px 1px 3px rgba(#fff,.2)
			transition: all .2s
		&.opened
			background-color: $accent-color
			border-color: $accent-color
	.header__cart-ic
		width: 16px
		height: 16px
		margin-right: 0
		background-image: url('../img/icons/cart_white.svg')
	.header__cart-box
		position: absolute
		top: 49px
		right: 15px
		width: 320px
		padding: 25px 20px 40px 20px
		background-color: #303030
		opacity: .97
		visibility: hidden
		transform: scale(0)
		transform-origin: 50% 0
		transition: all .2s
		&.reveal
			visibility: visible
			transform: scale(1)
			transition: all .2s
		&::before
			content: ''
			display: block
			width: 0
			height: 0
			position: absolute
			right: 59px
			top: -15px
			border: 6px solid transparent
			border-bottom: 10px solid #363636

	.header__cart-quantity, .header__cart-price
		color: #f5f5f5
	.header__cart-title
		display: block
	.header__cart-btn
		display: block
		margin-top: 22px



	.header__login
		&.logged
			.header__login-ic
				background-image: url('../img/icons/login.svg')
		&.opened
			.header__login-btn
				background-color: $accent-color
				border-color: $accent-color
			.header__login-ic
				background-image: url('../img/icons/login_white.svg')
				


	.header__login-btn
		width: 40px
		height: 40px
		min-width: auto
		padding: 0
	.header__login-ic
		margin-right: 0
		width: 16px
		height: 16px
	.header__login.logged .header__login-ic
		display: block
	.header__login-text
		display: none


	.header__account-line
		width: 320px
		top: 49px
		right: 15px
	.header__account-line::before
		top: -15px
		right: 14px
		border-bottom-color: #363636
		border-width: 6px
		border-bottom-width: 10px


	.nav.reveal
		.nav__toggle
			background-color: $accent-color
			border-color: $accent-color
		.nav__toggle-ic
			background-color: #fff
			&::before, &::after  
				background-color: #fff

	.nav__list
		width: 320px
		top: 49px
		left: 15px
	.nav__list::before
		top: -14px
		left: 14px
		border-bottom-color: #363636
		border-width: 6px
		border-bottom-width: 10px


	.header__auth
		width: 320px
		right: 15px
		top: 49px
	.header__auth::before
		top: -15px
		right: 14px
		border-bottom-color: #363636
		border-width: 6px
		border-bottom-width: 10px
	

	.header__mob-search
		position: static
		&.opened
			background-color: $accent-color
			border-color: $accent-color
	.header__mob-search-box
		width: 320px
		&::before
			content: ''
			display: block
			width: 0
			height: 0
			position: absolute
			right: 103px
			top: -15px
			border: 6px solid transparent
			border-bottom: 10px solid #363636


	/**/


@media only screen and (max-width : 575px)

	/**/


@media only screen and (max-width : 480px)

	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.nav__list, .header__mob-search-box, .header__cart-box, .header__auth, .header__account-line
		width: 100%
	.header__mob-search-box, .header__cart-box, .header__auth, .header__account-line
		right: 0
	.nav__list
		left: 0
	.nav__list::before
		left: 28px
	.header__auth::before, .header__account-line::before
		right: 28px
	.header__cart-box::before
		right: 74px
	.header__mob-search-box::before
		right: 118px


	/**/



@media only screen and (max-width : 320px)

	/**/





// @media only screen and (min-width : 320px)

// 	/**/



// @media only screen and (min-width : 480px)

// 	/**/


// @media only screen and (min-width : 576px)

// 	/**/


// @media only screen and (min-width : 768px)

// 	/**/



// @media only screen and (min-width : 992px)

// 	/**/



// @media only screen and (min-width : 1200px)

// 	/**/