@import "vars"


@media only screen and (max-width : 1199px)

	/* ------------------------------------- 
		Common styles
 		------------------------------------- */
	.p-static
		position: relative

	.interaction .scrollToTop
		display: none
	.footer .scrollToTop
		display: block !important
		right: 0
		top: 0



	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.header
		&__logo
			letter-spacing: -2px
			&-text
				letter-spacing: -.2px

		&__search
			margin: 0 30px

		&__bottom-line
			padding: 10px 0
			&.logged
				margin-bottom: 0
		&__cart
			padding-top: 7px
			padding-bottom: 7px

			/* ----- account-menu ----- */
		&__account
			&-line
				display: block
				width: 290px
				height: auto
				padding: 30px 40px
				position: absolute
				top: 80px
				right: 0
				bottom: auto
				left: auto
				background: transparent
				border: none
				visibility: hidden
				transform: scale(0)
				transform-origin: 100% 0
				background-color: #303030
				opacity: .97
				transition: all .2s
				z-index: 3
				&.reveal
					visibility: visible
					transform: scale(1)
					transition: all .2s
				&::before
					content: ''
					display: block
					width: 0
					height: 0
					position: absolute
					right: 52px
					top: -18px
					border: 8px solid transparent
					border-bottom: 12px solid #303030
				.container
					padding: 0
			&-menu
				display: block
				li:first-child
					.header__account-menu-link
						padding-left: 20px
				&-link
					padding: 7px 0 7px 20px
					position: relative
					&::before
						content: '»'
						display: inline-block
						font-size: 18px
						line-height: 24px
						font-weight: 300
						position: absolute
						left: 0
						top: 3px
						color: $accent-color
						z-index: 0
					&:hover
						color: $accent-color

	/* ----- navigation ----- */
	.nav
		&__toggle
			display: flex
			align-items: center
			justify-content: center
			position: relative
			width: 40px
			height: 40px
			border: 1px solid #545454
			&-ic
				position: relative
				width: 22px
				height: 3px
				background-color: #fff
				&::before, &::after  
					content: ""
					position: absolute
					left: 0
					height: 3px
					width: 22px
					background-color: #fff
				&::before
					top: -6px
				&::after 
					top: 6px
			&:active
				box-shadow: 1px 1px 3px rgba(#fff,.2)
				transition: all .2s
		&.reveal
			.nav__toggle
				opacity: 1
			.nav__toggle-ic
				background-color: $accent-color
				&::before, &::after  
					background-color: $accent-color
			.nav__list
				visibility: visible
				transform: scale(1)
				transition: all .2s
		&__list
			visibility: hidden
			display: block
			transform: scale(0)
			transform-origin: 0 0
			position: absolute
			top: 80px
			left: 0
			width: 368px
			padding: 30px 40px
			background-color: #363636
			opacity: .97
			z-index: 3
			transition: all .2s
			&::before
				content: ''
				display: block
				width: 0
				height: 0
				position: absolute
				left: 11px
				top: -18px
				border: 8px solid transparent
				border-bottom: 12px solid rgba(#363636, .97)
		&__link
			padding: 7px 0
			border-right: none
		&__ic
			margin-right: 18px

	.header__login
		&.opened
			.header__login-text
				color: $accent-color





	/* ------------------------------------- 
		banners
	 ------------------------------------- */
	.banners__img
		width: 100%
	.banners__slide.top-left .banners__text-block
		max-width: 85%


	/* ------------------------------------- 
		interaction
	 ------------------------------------- */
	.interaction
		overflow-x: hidden
		.border-divider
			border-right: none
			position: static
			> 
				.interaction__form
					position: relative
					&::before
						content: ''
						display: block
						width: 200%
						height: 1px
						position: absolute
						left: -50%
						bottom: 0
						background: rgba(#fafafa ,.1)
						z-index: 0

	.interaction__form
		padding-bottom: 32px
	.interaction__form-label
		padding-left: 0
		color: $accent-color
			


	/* ------------------------------------- 
		footer
	 ------------------------------------- */
	.footer__block
		padding: 20px 15px

	


	/* ------------------------------------- 


		page__results

	 ------------------------------------- */
	.table
		display: block
		position: relative
		padding-top: 60px

		tr:first-child .table-filter
			padding: 8px 10px 8px 29px
			position: absolute
			top: 0
			width: 150px
			background: #fff
			color: #303030
			display: flex
			align-items: center
			.table-filter
				margin: 0
			.table-filter-top
				margin: 0 0 0 auto
		tr:first-child .table-filter1
			right: 170px
		tr:first-child .table-filter2
			right: 0

		tr
			display: flex
			width: 100%
			&:not(:first-child)
				position: relative
				.table-filter
					display: none
		td, th
			display: block
		th
			width: 101%
			margin: -2px
		td
			min-height: 192px
			margin: -1px
		td:first-child
			flex: 0 0 128px
			max-width: 128px

		.table-price
			min-height: 1px
			width: 100px
			position: absolute
			right: 40px
			top: 40px
			border: none
			background: transparent
			padding: 0
			font-size: 18px
		.table-quantity
			flex: 0 0 180px
			max-width: 180px
			padding: 63px 37px 30px

		.table-sum td
			min-height: 1px
		.table-sum td.empty
			display: none
		td.table-delivery
			flex: 1 0 auto
			max-width: 100%
		.table-coast
			flex: 0 0 180px
			max-width: 180px


	/* ------------------------------------- 


		page__orders

	 ------------------------------------- */
	.orders__table
		.table-price
			text-align: center
			
		.table-quantity
			padding-top: 75px


	/* ------------------------------------- 


		page__cart

	 ------------------------------------- */
	.cart__table
		.table-quantity
			width: 180px
	.table-count
		margin-right: -1px
	.table-sum
		flex: 1 0 auto
		max-width: 100%
	.table-count-btn-wrap
		flex: 0 0 180px
		max-width: 180px




	/* ------------------------------------- 


		page__cars

	 ------------------------------------- */
	.cars__table-form-inner
		flex-wrap: wrap
	.buttons-block
		margin-top: 15px
		flex: 0 0 419px
		max-width: 419px
		display: flex
		justify-content: space-between
	.cars__table .form-btn
		margin: 0





	/* ------------------------------------- 


		page__component

	 ------------------------------------- */
	.component__add
		width: 100%
		margin-top: 30px
		padding: 0
		display: flex
		justify-content: space-between
		min-height: 1px
	.component__add-item
		display: flex
		flex-direction: column
		align-items: flex-end
		flex: 0 0 50%
		max-width: 50%
		padding: 29px 58px
		margin-bottom: 0
		border-right: 1px solid #444
		&:nth-child(2n)
			border-right: none
			




	/* ------------------------------------- 


		page__history

	 ------------------------------------- */
	.history-orders__table th, .history-cars__table th
		padding: 10px 20px
	.history-orders__table td, .history-cars__table td
		padding: 0 20px
	.history-cars__table
		th, td
			white-space: nowrap




	/* ------------------------------------- 


		page__list

	 ------------------------------------- */
	.year
		flex: 1 0 auto
		max-width: 42.22px
	.list-table__outer
		max-height: 44.28571428571429em
		position: relative
		overflow-y: auto
		
	.list-table__inner
		width: 750px
		margin-right: 180px
		overflow-x: scroll

	.list-table
		th, td
			white-space: nowrap
		th
			padding: 10px 20px
		td
			padding: 0 20px
		th:last-child
			height: 50px
	.list-table-motor
			&:last-child
				position: absolute
				right: 0
				width: 180px



	/**/



@media only screen and (max-width : 991px)

	/* ------------------------------------- 
		banners
	 ------------------------------------- */
	.banners__img
		width: auto
		max-width: 150%

	/* ------------------------------------- 
		categories
  	 ------------------------------------- */
	.categories__block
		flex-wrap: wrap
	.categories__item
		flex: 0 0 50%
		max-width: 50%
		border-top: 1px solid #f5f5f5
		&:nth-child(2n)
			border-right: none
			

	/* ------------------------------------- 
		brands
  	 ------------------------------------- */
	.brands__item
		&:nth-child(6n)
			border-right: 1px solid #d5d5d5
		&:nth-child(4n)
			border-right: none
		&.tablet-hide
			display: none


	/* ------------------------------------- 
		interaction
	 ------------------------------------- */
	.interaction__form-input
		max-width: 100%
		flex-grow: 1





	/* ------------------------------------- 


		page__results

	 ------------------------------------- */
	.table
		.table-img
			padding-top: 23px
		td.table-advance
			min-height: 1px
			width: 355px
			position: absolute
			left: 142px
			top: 19px
			border: none
			background: transparent
			padding: 0
		.table-main-info
			padding: 75px 14px 30px
		.table-item
			letter-spacing: -.4px
		.table-item-dest
			margin-top: 0
		.table-search-text, .table-search-result
			width: auto
		.table-search-text
			margin-right: 5px



	/* ------------------------------------- 


		page__group

	 ------------------------------------- */
	.group__item
		padding: 5px 17px




	/* ------------------------------------- 


		page__component

	 ------------------------------------- */
	.component__img
		width: 256px
		height: 256px
	.component__add-item
		padding: 29px 17px
	.component__tabs
		justify-content: space-between
	.component__tab
		padding: 10px 25px
	.component__table-wrap
		min-height: 285px
	.component__table td
		min-width: 209px
		padding: 0 20px





	/* ------------------------------------- 


		page__history

	 ------------------------------------- */
	.history-orders__table td
		min-width: 209px
	.history-numbers__table td
		min-width: 218px







	/* ------------------------------------- 


		page__list

	 ------------------------------------- */
	.list-table__inner
		width: 510px
	.year
		flex: 0 1 auto
		max-width: 42.22px











			
	/**/



@media only screen and (max-width : 767px)
	
	/* ------------------------------------- 
		Common styles
 	------------------------------------- */
	.title
		line-height: 1.4
	.more-box
		position: relative
		margin-top: 30px
		max-width: 206px

	.footer .scrollToTop
		right: 15px

	.breadcrumbs
		padding-left: 50px
		span
			&:not(:last-of-type)
				display: none
			+ span:before
				display: none
		.breadcrumbs-back
			display: inline-block

	.form-remind
		padding-left: 0

	.mb-50
		margin-bottom: 50px
			



	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.header
		.container
			position: relative
		&__login
			position: static
			
		.ml-auto
			margin-left: 0

	.header__bottom-line
		div[class*="col"]
			position: static


	.header__lang-item
		width: 35px
		height: 35px

	.header__cart
		width: 40px
		height: 40px
		padding: 0
		margin-right: 5px
		justify-content: center
		background: transparent
		border: 1px solid #545454
		&:active
			box-shadow: 1px 1px 3px rgba(#fff,.2)
			transition: all .2s
		&.opened
			background-color: $accent-color
			border-color: $accent-color
	.header__cart-ic
		display: block
		width: 40px
		height: 40px
		margin-right: 0
		background-image: url('../img/icons/cart_white.svg')
		background-size: 16px 16px
	.header__cart-box
		position: absolute
		top: 49px
		right: 15px
		width: 320px
		padding: 25px 20px 40px 20px
		background-color: #303030
		opacity: .97
		visibility: hidden
		transform: scale(0)
		transform-origin: 50% 0
		transition: all .2s
		z-index: 3
		&.reveal
			visibility: visible
			transform: scale(1)
			transition: all .2s
		&::before
			content: ''
			display: block
			width: 0
			height: 0
			position: absolute
			right: 59px
			top: -15px
			border: 6px solid transparent
			border-bottom: 10px solid #363636

	.header__cart-quantity, .header__cart-price
		color: #f5f5f5
	.header__cart-title
		display: block
	.header__cart-btn
		display: block
		margin-top: 22px



	.header__login
		&.logged
			.header__login-ic
				background-image: url('../img/icons/login.svg')
		&.opened
			.header__login-btn
				background-color: $accent-color
				border-color: $accent-color
			.header__login-ic
				background-image: url('../img/icons/login_white.svg')
				


	.header__login-btn
		width: 40px
		height: 40px
		min-width: auto
		padding: 0
	.header__login-ic
		margin-right: 0
		width: 16px
		height: 16px
	.header__login.logged .header__login-ic
		display: block
	.header__login-text
		display: none


	.header__account-line
		width: 320px
		top: 49px
		right: 15px
	.header__account-line::before
		top: -15px
		right: 14px
		border-bottom-color: #363636
		border-width: 6px
		border-bottom-width: 10px


	.nav.reveal
		.nav__toggle
			background-color: $accent-color
			border-color: $accent-color
		.nav__toggle-ic
			background-color: #fff
			&::before, &::after  
				background-color: #fff

	.nav__list
		width: 320px
		top: 49px
		left: 15px
	.nav__list::before
		top: -14px
		left: 14px
		border-bottom-color: #363636
		border-width: 6px
		border-bottom-width: 10px


	.header__auth
		width: 320px
		right: 15px
		top: 49px
	.header__auth::before
		top: -15px
		right: 14px
		border-bottom-color: #363636
		border-width: 6px
		border-bottom-width: 10px
	.header__auth-form-btn
		min-width: 115px
	

	.header__mob-search
		position: static
		&.opened
			background-color: $accent-color
			border-color: $accent-color
	.header__mob-search-box
		width: 320px
		&::before
			content: ''
			display: block
			width: 0
			height: 0
			position: absolute
			right: 103px
			top: -15px
			border: 6px solid transparent
			border-bottom: 10px solid #363636


	/* ------------------------------------- 
		banners
	 ------------------------------------- */
	.banners__slide.top-left .banners__text-block
		max-width: 100%


	/* ------------------------------------- 
		categories
  	 ------------------------------------- */
	.categories__block
		display: block
	.categories__item
		flex: 0 0 100%
		max-width: 100%
		border-top: 1px solid #f5f5f5
		border-right: none
		

	/* ------------------------------------- 
		brands
  	 ------------------------------------- */
	.brands__item
		&:nth-child(4n)
			border-right: 1px solid #d5d5d5
		&:nth-child(2n)
			border-right: none
		&.phone-hide
			display: none


	/* ------------------------------------- 
		interaction
	 ------------------------------------- */
	.interaction__form-label
		margin-bottom: 20px
	.interaction__form-input
		max-width: 100%
		flex: 1 0 240px
	.interaction__form-info
		padding-left: 0



	/* ------------------------------------- 
		footer
	 ------------------------------------- */
	.footer-border
		border-left: none
	.footer__block
		min-height: 1px
		padding: 15px 30px
		border-left: 1px solid $accent-color
	.footer-list li.footer-list-margin
		position: static
		margin-top: 30px
	.footer__bottom-line
		padding: 12px 0
	.footer .divider
		display: none
	.footer .rights
		display: block

	.footer-title
		position: relative
		padding-left: 20px
		&::before
			content: ''
			display: block
			width: 8px
			height: 8px
			position: absolute
			top: 50%
			left: 0
			margin-top: -4px
			border-bottom: 2px solid  #828282
			border-right: 2px solid  #828282
			transform: rotate(-45deg)
			transition: all .2s ease-in-out
			transform-origin: 50% 50%
			z-index: 0
		&.active
			&::before
				transform: rotate(45deg)
	.footer-list
		display: none



	/* ------------------------------------- 


		page__results

	 ------------------------------------- */

	.table__head
		&-break
			display: block
	.table
		tr:not(.table-title)
			padding: 25px 20px 20px
			flex-wrap: wrap
			border: 1px solid #d5d5d5
			margin-bottom: -1px
		tr:first-child .table-filter
			width: 135px
			padding: 8px 20px
		tr:first-child .table-filter1
			right: 155px
		tr:first-child .table-filter2
			right: 0
		th, td
			border: none
			margin: 0
		th
			width: 
		td
			width: 100%
			min-height: 1px
		td.table-advance, .table-price
			position: static
			background: #fafafa

		td.table-img, td.table-advance,
			width: 100%
			flex: 0 0 50%
			max-width: 50%
			padding: 0

		.table-main-info
			padding: 15px 0 0

		.table-price, .table-quantity
			min-height: 84px
			margin-top: 20px
			padding: 10px
			flex: 0 0 50%
			max-width: 50%
			background-color: rgba(#d5d5d5, .7)
			text-align: center
		.table-quantity-result .minus, .table-quantity-result .plus, .table-quantity-result-input
			background-color: #fafafa
		.table-price
			&--empty
				flex: 0 0 100%
				max-width: 100%
				display: flex
				align-items: center
				justify-content: center
		.table-quantity
			position: relative
			display: flex
			flex-direction: column
			align-items: center
			&--empty
				flex: 0 0 0px
				max-width: 0px
				padding: 0
		.table-quantity-status
			width: 100%
			position: absolute
			bottom: 20px
			left: -100%
			text-align: center


		tr.table-sum
			padding: 0
		td.table-delivery
			flex: 0 0 50%
			max-width: 50%
			padding-left: 15px
		.table-delivery-coast
			margin-left: 0
		.table-coast
			flex: 0 0 50%
			max-width: 50%
			padding: 10px 15px 10px 0
			display: flex
			justify-content: center
			align-items: center
	

		&-purchase
			padding: 15px 20px		

			
	/* ------------------------------------- 


		page__orders

	 ------------------------------------- */
	.orders__table
		.table-price
			display: flex
			align-items: center
			justify-content: center
		.table-quantity
			justify-content: center



	/* ------------------------------------- 


		page__cart

	 ------------------------------------- */
	.table-count
		width: 100%
		margin-right: 0
		padding: 0 20px
	.table-sum, .table-count-btn-wrap
		flex: 0 0 50%
		max-width: 50%
		padding: 0

	/* ------------------------------------- 


		page__ordering

	 ------------------------------------- */
	.ordering__table-count
		position: relative
		right: 0
		bottom: -50px
		


	/* ------------------------------------- 


		page__personal-data

	 ------------------------------------- */
	.page__personal-data .forms
		padding-bottom: 50px
		min-height: 1px



	/* ------------------------------------- 


		page__group

	 ------------------------------------- */
	.group
		min-height: 1px
		padding-bottom: 100px
	.group__head
		margin-bottom: 100px
	.group__head-add
		position: absolute
		left: 0
		bottom: -60px
		margin-left: 0
	.group__item
		padding: 5px 10px




	/* ------------------------------------- 


		page__cars

	 ------------------------------------- */
	.cars__table th:first-child, .cars__table td:first-child
		width: auto
	.cars__table th, .cars__table td
		padding: 10px
	.cars__table .form-label, .buttons-block
		flex: 0 0 100%
		max-width: 100%
	.buttons-block
		margin-top: 0
		flex-direction: column
	.cars__table .form-btn
		width: 150px
		margin-top: 15px





	/* ------------------------------------- 


		page__component

	 ------------------------------------- */
	.component
		.my-container
			padding: 0
	.component__info, .component__title
		padding: 0 15px
	.component__title
		padding-bottom: 6px
		position: relative
		overflow-x: hidden
		&::before
			left: 15px
	.component__img
		width: 320px
		height: 320px
	.component__descr
		padding-top: 30px
	.component__add
		flex-direction: column
	.component__add-item
		flex: 0 0 100%
		max-width: 100%
	.component__quantity-btn
		margin-left: 20px


	.component__block-details
		padding: 0
		background: none
		border: none
	.component__tabs
		display: none
	.component__hidden-tab
		display: block
		margin: 0 0 -1px 0
		padding: 12px 10px
		position: relative
		&::before
			content: ''
			display: block
			width: 8px
			height: 8px
			position: absolute
			top: 50%
			right: 20px
			margin-top: -4px
			border-bottom: 2px solid  #828282
			border-right: 2px solid  #828282
			transform: rotate(-45deg)
			transition: all .2s ease-in-out
			transform-origin: 50% 50%
			z-index: 0
		&--active
			&::before
				transform: rotate(45deg)
	.component__hidden-wrap
		padding: 0 0 12px
	.component__table-wrap
		min-height: 1px
		border-top: 2px solid #d5d5d5
		border-bottom: 2px solid #d5d5d5
		margin-bottom: -2px
	
	.component__table td
		white-space: nowrap
		min-width: 1px





	/* ------------------------------------- 
		contacts
	 ------------------------------------- */
	.contacts
		&__item
			min-height: 100px
			min-width: 300px
			margin-right: 0

	/* ------------------------------------- 
		news
	 ------------------------------------- */

	.news
		&__item
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
		&__wrapImg
			margin-right: 0
			-webkit-flex-shrink: 1
			flex-shrink: 1

	/* ------------------------------------- 
		subgroup
	 ------------------------------------- */


	.subgroup
		&__optionProductWrap
			margin: 15px 0 30px





	/* ------------------------------------- 


		page__history

	 ------------------------------------- */
	.history-table td
		white-space: nowrap
		min-width: 1px

	.table-card-add
		padding-right: 13px






	/* ------------------------------------- 


		page__list

	 ------------------------------------- */
	.list-table__inner
		width: calc(100% - 45px)
		margin-right: 45px

	.list-table-motor
		th, td
			&:last-child
				width: 45px
				text-align: center
				padding: 0 15px
		.add-txt
			display: none




	/**/


@media only screen and (max-width : 575px)

	/**/


@media only screen and (max-width : 480px)

	/* ------------------------------------- 
		header
	 ------------------------------------- */
	.nav__list, .header__mob-search-box, .header__cart-box, .header__auth, .header__account-line
		width: 100%
	.header__mob-search-box, .header__cart-box, .header__auth, .header__account-line
		right: 0
	.nav__list
		left: 0
	.nav__list::before
		left: 28px
	.header__auth::before, .header__account-line::before
		right: 28px
	.header__cart-box::before
		right: 74px
	.header__mob-search-box::before
		right: 118px



	/* ------------------------------------- 
		contacts
	 ------------------------------------- */

	.contacts
		&__item
			min-width: 270px




	/* ------------------------------------- 
		news
	 ------------------------------------- */

	.pagination
		&__item
			width: 36px
			height: 36px
			line-height: 36px
			margin: 0 2px
		&__item:first-child,
		&__item:last-child
			font-size: 28px
			line-height: 28px



	/**/


@media only screen and (max-width : 360px)

	.component__img
		width: 290px
		height: 290px
	.component__quantity-result
		width: 135px
	.component__quantity-input
		width: 55px
	.component__quantity-btn
		min-width: 135px
		margin-left: 15px

	/**/